.div_register{
  margin-top: 10px;
}
.box{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}
.user_box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
}
.user_box1{
    width: 400px;

}
.wrapper{
    text-align: center;
    gap: 20px;
}
.user{
    margin: 0px;
    margin-bottom: 6px;
}
.inp{
    padding: 8px;
    padding-left: 8px;
    border-radius: 10px;
    width: 100%;
    background-color: rgb(225, 225, 225);
    border: none;
    color: black;
    outline: none;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    padding-left: 8px;
    border-radius: 10px;
    width: 415px;
    margin-left: 18px;
    background-color:blue;
    border: none;
    color: white;
    outline: none;
}